<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Reservations</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/admin.css">
  <style>

  </style>
</head>
<body>

<!-- Flash Messages -->
<div>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="custom-alert alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    setTimeout(function () {
      document.querySelector('.custom-alert').remove();
    }, 3000);
  </script>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

<div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
            {% include '/includes/admin_sidebar.html' %}
      

    <main class="col-md-10 ml-sm-auto">
        <div class="container">
      <h2>Reservation Management</h2>
      <p>Manage reservations:</p>

<!-- Search Form -->
<form method="GET" action="{{ url_for('admin_reservation') }}" class="mb-3">
    <div class="input-group custom-search-bar">
        <input type="text" class="form-control form-control-sm custom-search-input" name="search_query" placeholder="Search...">
        <div class="input-group-append">
            <button type="submit" class="btn btn-custom btn-sm">
                <img src="/static/icons/bx-search-alt-2.svg" alt="Search" class="icon mr-2">
            </button>            
        </div>
    </div>    
</form>


      <!-- Property Visits Table -->
      <h2>Property Visits</h2>
      <div class="table-responsive">
        <table class="table custom-table table-bordered table-striped">
            <thead>
           <tr>
              <th>Visit #</th>
              <th>Property #</th>
              <th>Client Name</th>
              <th>Client Email</th>
              <th>Client #</th>
              <th>Visit Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for visit in property_visits %}
            <tr>
              <td>{{ visit[0] }}</td> <!-- VisitID -->
              <td>{{ visit[1] }}</td> <!-- PropertyID -->
              <td>{{ visit[2] }}</td> <!-- ClientName -->
              <td>{{ visit[3] }}</td> <!-- ClientEmail -->
              <td>{{ visit[4] }}</td> <!-- ClientNumber -->
              <td>{{ visit[5] }}</td> <!-- VisitDate -->
              <td>
                <form method="POST" action="{{ url_for('edit_visit_status', VisitID=visit[0]) }}">
                  <input type="hidden" name="original_status" value="{{ visit[6] }}">
                  <select name="status" class="form-control">
                    <option value="" {% if visit[6] == '' %}selected{% endif %}>Select Status</option>
                    <option value="Scheduled" {% if visit[6] == 'Scheduled' %}selected{% endif %}>Scheduled</option>
                    <option value="Completed" {% if visit[6] == 'Completed' %}selected{% endif %}>Completed</option>
                    <option value="Canceled" {% if visit[6] == 'Canceled' %}selected{% endif %}>Canceled</option>
                  </select>
              </td>
              <td>
                <button type="submit" class="custom-button">
                    <img src="/static/icons/bx-save.svg" alt="Save" class="icon-svg"> Save
                </button>                
              </td>
            </tr>
            </form>
            {% endfor %}
          </tbody>
        </table>
      </div>

<!-- Pagination -->
<div class="pagination-container">
    {% if property_visits %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item {% if current_page == 1 %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('admin_reservation', page=1) }}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% for page_num in range(1, total_pages + 1) %}
        <li class="page-item {% if page_num == current_page %}active{% endif %}">
          <a class="page-link" href="{{ url_for('admin_reservation', page=page_num) }}">{{ page_num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if current_page == total_pages %}disabled{% endif %}">
          <a class="page-link" href="{{ url_for('admin_reservation', page=total_pages) }}">Next</a>
        </li>
      </ul>
    </nav>
    {% else %}
    <p>No results found.</p>
    {% endif %}
  </div>  
  </div>
</div>

<!-- Include Bootstrap JS and jQuery just before the closing </body> tag -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
