<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include your custom CSS file (styles.css) -->
    <link href="/static/assets/admin.css" rel="stylesheet">
</head>
<body>
<!-- Side Navbar -->
<nav class="col-md-2 side-navbar sticky-top">
    <ul class="nav flex-column sticky-top">
        <!-- Add a clickable title -->
        <li class="nav-item">
            <a class="nav-link side-nav-title" href="admin_dashboard">
                Admin Dashboard
            </a>
        </li>
        <!-- Properties section -->
        <li class="nav-item">
            <a href="#propertiesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link side-nav-link">
                <img src="/static/icons/bxs-user-detail.svg" alt="User" class="icon mr-2">Properties
            </a>
            <ul class="collapse list-unstyled" id="propertiesSubmenu">
                <li>
                    <a href="admin_reservation" class="nav-link side-nav-link">
                        <img src="/static/icons/bxs-user-detail.svg" alt="User" class="icon mr-2">Reservation
                    </a>
                </li>
                <li>
                    <a href="properties" class="nav-link side-nav-link">
                        <img src="/static/icons/bxs-user-detail.svg" alt="User" class="icon mr-2">Property Listings
                    </a>
                </li>
                <li>
                    <a href="add_property" class="nav-link side-nav-link">
                        <img src="/static/icons/bxs-user-detail.svg" alt="User" class="icon mr-2">Add Property
                    </a>
                </li>
            </ul>
        </li>
        <!-- Users section -->
        <li class="nav-item">
            <a href="#usersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link side-nav-link">
                <img src="/static/icons/bxs-user-detail.svg" alt="User" class="icon mr-2">Users
            </a>
            <ul class="collapse list-unstyled" id="usersSubmenu">
                <li>
                    <a href="admin_user_management" class="nav-link side-nav-link">
                        <img src="/static/icons/bxs-user-detail.svg" alt="Edit User" class="icon mr-2">Edit User Roles
                    </a>
                </li>
                <li>
                    <a href="admin_agent_management" class="nav-link side-nav-link">
                        <img src="/static/icons/bxs-user-detail.svg" alt="Agent" class="icon mr-2">Agent Management
                    </a>
                </li>
            </ul>
        </li>
        <!-- Profile and Logout links -->
        <li class="nav-item">
            <a class="nav-link side-nav-link" href="#">
                <img src="/static/icons/bxs-user.svg" alt="Profile" class="icon mr-2">Profile
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link side-nav-link" href="/logout">
                <img src="/static/icons/bx-exit.svg" alt="Logout" class="icon mr-2">Logout
            </a>
        </li>
    </ul>
</nav>

<!-- Include Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
